<aside class="sidebar">
  <div class="sidebar-inner">
    <nav class="sidebar-nav">
      <div class="nav-group">
        <h4 class="nav-title">Getting Started</h4>
        <ul>
          <li><a href="/pages/docs/installation/index.html" class="nav-link">Installation</a></li>
          <li><a href="/pages/docs/quickstart.html" class="nav-link">Quick Start</a></li>
        </ul>
      </div>
      <div class="nav-group">
        <h4 class="nav-title">Models</h4>
        <ul>
          <li><a href="/pages/docs/models/management.html" class="nav-link">Managing Models</a></li>
          <li><a href="/pages/docs/models/custom.html" class="nav-link">Custom Models</a></li>
          <li><a href="/pages/docs/models/quantization.html" class="nav-link">Quantization</a></li>
        </ul>
      </div>
      <div class="nav-group">
        <h4 class="nav-title">API Reference</h4>
        <ul>
          <li><a href="/pages/docs/api/rest.html" class="nav-link">REST API</a></li>
          <li><a href="/pages/docs/api/python.html" class="nav-link">Python Client</a></li>
          <li><a href="/pages/docs/api/js.html" class="nav-link">JavaScript Client</a></li>
        </ul>
      </div>
      <div class="nav-group">
        <h4 class="nav-title">Integrations</h4>
        <ul>
          <li><a href="/pages/docs/integrations/langchain.html" class="nav-link">LangChain</a></li>
          <li><a href="/pages/docs/integrations/llamaindex.html" class="nav-link">LlamaIndex</a></li>
        </ul>
      </div>
    </nav>
  </div>
</aside>
